/********************************
Scaffolding
---------------------------------
Handles global padding and margin
variables and classes
*********************************/

// Padding defaults
$default-padding: 	1.2em;
$inner-padding:		.625em;

// Margin defaults
$body-top-margin:		$default-padding;	

// Border radius
$border-radius-base: 0.225em;