/********************************
Scaffolding
---------------------------------
Handles global padding and margin
variables and classes
*********************************/

// Padding defaults
$default-padding: 	1.4em;
$inner-padding:		.825em;
$viewer-padding:    3em;

// Margin defaults
$body-top-margin:		$default-padding;	

// Border radius
$border-radius-base: 0.165em;

// Headers
$header-height-base: 85px;