@import '~assets/styles/base/variables/colours';

.query {
	padding:5px;
	font-size:120%;
}
.term, .proximity {
	cursor:pointer;
	transition:all 0.3s ease;
	color:$gray-75;
	padding:0.2em;
	&:hover {
		background:lighten($primary, 50%);
		padding:0.3em;
		color:$black;
	}
}
.brackets {
	padding:5px 0;
	cursor:pointer;
	transition:all 0.3s ease;
	border-radius:0.225em;
	&:hover {
		background:lighten($primary, 60%);
	}
}

.bracket {
	cursor:pointer;
	transition:all 0.3s ease;
	padding:5px;
	&:hover {
		padding:5px 7px;
		background:lighten($primary, 50%);
	}
}

.activeClass {
	border:1px solid red;
}