@import 'css-toggle-switch/dist/toggle-switch';

.root {
  display: flex;
  flex-direction: row;
  padding: 0 0.5em;
  strong {
    flex: 1;
  }
  &[data-status="disabled"] strong {
    color: #aaa;
  }
  label {
    font-size: 80%;
    vertical-align: middle;
    line-height: normal;
    padding: 0.32em 0.4em;
    > span {
      a {
        outline: none !important;
      }
    }
  }
  .switch-material {
    >span:after, >span:before {
      background: #0081ea none repeat scroll 0 0;
    }
    input:checked ~ span {
      background-color: #6bb2ed;
      a {
        border: 2px solid #fff;
        background-color: #0073d1;
        right: 0;
      }
    }
  }
  &[data-status="disabled"] .switch-material {
    input:checked ~ span {
      background-color: #999;
      a {
        background-color: #aaa;
      }
    }
  }
}
