/***************
Button
****************/

// Globals
@import './globals';
// Config
@import './config';

// Static button placeholder
%button {
  display: inline-block;
  margin-bottom: 0;
  font-size:$button-default-font-size;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  @include rounded($button-border-radius);
  @include box-shadow(
  	$button-shadow-horizontal, 
  	$button-shadow-vertical, 
  	$button-shadow-blur, 
  	$button-shadow-colour
  );
  padding:$button-padding-top $button-padding-right;
  line-height:$button-line-height;
  border:1px solid transparent;
  transition: $button-transition;
  &:hover {
		cursor: pointer;
	}
	&:focus {
		outline: 0;
	}
}
// Mixin for colour variations
@mixin button($color) {
	background-color: $color;
	border-color: mix(black, $color, 15%);
	&:hover {
		background-color: mix(black, $color, 10%);
		border-color: mix(black, $color, 20%);
	}
	&.hasFocus {
		background-color: mix(black, $color, 25%);
		border-color: mix(black, $color, 30%);
	}
}
// The buttons
.default {
	@extend %button;
	background-color: $button-default-color;
	border-color: $button-default-border-color;
	color: $button-default-text-color;
	&:hover {
		background-color: $gray-25;
	}
	&.hasFocus {;
		background-color: $gray-25;
		border-color: mix(black, $gray-25, 30%);
	}
}
// Colour vars for buttons
$list: primary, warning, success, danger, info;

$color-list: $button-primary-color, 
						$button-warning-color, 
						$button-success-color, 
						$button-danger-color, 
						$button-info-color;

$text-color-list: $button-primary-text-color, 
						$button-warning-text-color, 
						$button-success-text-color, 
						$button-danger-text-color, 
						$button-info-text-color;
// Loop for colours
@for $i from 1 through length($list) {
	.#{nth($list, $i)} {
  	@extend %button;
	@include button(nth($color-list, $i));
	color: nth($text-color-list, $i);
  }
}
// Properties
.small {
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  padding:0 $button-small-padding;
}
.large {
	font-size: $button-large-font-size;
} 

.splitButton { 
   display: inline-block; 
   position:relative; 
   //@include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2)); 
   & > .button { 
     @include box-shadow(0, 0, 0, 0); 
     &:first-of-type { 
       @include border-radius($button-border-radius, 0, 0, $button-border-radius); 
       border-right:0; 
     } 
     &:last-of-type { 
       @include border-radius(0, $button-border-radius, $button-border-radius, 0); 
     } 
   } 
 }
 
 .dropdownButton { 
   display: inline-block; 
   position:relative;
   .caret {
   	margin-left:6px;
   }
 } 

.caret {
	@include caret; 
}