//Caret
@import '~assets/styles/base/mixins/caret';

.slidePanel {
  transition: all ease 0.4s;
  max-height:0;
  opacity:0;
  overflow:hidden;
  width:100%;
  margin-bottom: 1em;
  &.isOpen {
  	opacity:1;
  	margin-top:1em;
    border-bottom:1px solid #ccc;
  	//overflow:auto;
  }
}

.title {
  float:left;
  width:100%;
  border-bottom:1px solid #ccc;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  h5 {
    margin: 0;
    float:left;
  }
  .trigger {
    margin-top:10px;
    float:right;
    @include caret-large;
    cursor: pointer;
  }
}