@mixin header {
	display:flex;
	//align-items:center;
	min-height:$header-height-base;
	max-height:$header-height-base;
	.title {
		font-size: 18px;
		color:#444;
		display:flex;
		align-items: center;
			& > i {
				margin-right: 0.4em;
			}
	}
}