/**********************
App.scss
-----------------------
This file imports any
global app dependencies
***********************/

/************
1. Vendor 
*************/

//Normalize
@import "~assets/styles/vendor/normalize";
// Susy
@import "susy/sass/susy";

/************
2. Global 
*************/

//Font icons
@import '~assets/styles/base/global/icons';

//Utilities
@import '~assets/styles/base/global/utils';

//Typography
@import '~assets/styles/base/global/typography';


:global {
	.Resizer {
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    background: #eee;
	    //opacity: .1;
	    z-index: 1;
	    -moz-background-clip: padding;
	    -webkit-background-clip: padding;
	    background-clip: padding-box;
	    width: 15px;
    	//margin: 0 -5px;
    	border-left: 1px solid #ccc;
    	border-right: 1px solid #ccc;
		cursor: col-resize;
	}

	.Resizer:hover {
	}
}
