// Globals
@import './globals';
// Config
@import './config';

.wrapper {
	display:flex;
	height:100vh;
}

.left {
	flex: 0 0 $navWidth;
	background: #ddd;
}

.markers {
	flex:0 0 20%;
	background: #eee;
	border-left:1px solid #ccc;
	transition:all 0.3s ease;
}

.collapsed {
	flex:0 0 $helpersWidth;
}

.main {
	flex:1;
	position:relative;
	transition:all 0.3s ease;
	background:#eee;
	&[class*="Pane"] {
		transition: all 0.3s ease 0s;
	}
}

.leftContent {
	& > .panel {
		height:100vh;
		background:white;
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
	}
}

.rightContent {
	& > .panel {
		height:100vh;
		background:white;
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
	}
}

.right {
	flex: 0 0 $helpersWidth;
	background: #eee;
	transition:all 0.3s ease;
	&.collapsed {
		flex:0;
	}
}